
* {
    scroll-behavior: smooth;
}


body {
    font-size: 12px;
    color: darksalmon; 
    font-family: 'Lato', sans-serif;
    
}

.navbar {
    display:flex;
    float: right;
    padding: 20px;
    overflow: hidden;
    font-size: 18px;
}

a {
    display: flex;
    margin: 30px;
    text-decoration: none;
    color:darkgreen;
    font-weight: bold;
}



.header {
    display: flex;
    margin-top: 60px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: wheat;
}

.header_img {
    max-height: 240px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    margin: auto;
    display: flex;
    padding-bottom: 30px;

}

a:hover {
    text-decoration: underline;
    text-decoration-color:darkgoldenrod;
    text-decoration-thickness: 3px;
    text-underline-offset: 1px;
}



.nametag {
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    margin-left: 250px;
    z-index: 4;
    
}


.aboutme {
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}
section {
    padding-top: 30px;
    padding-bottom: 30px;
}

