
* {
    scroll-behavior: smooth;
}

.wrapper {
    overflow: hidden;
}

:root{
    --font-family-base: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;
}

a {
    color: #a07178;
}

div {
    display: block;
}

@media screen and (max-width:480px) {
    h2.caption {
        margin-left: auto;
    }
    a.navlink {
        
    }
    p.parame {
        height: vh;
        width: 100vw;
        margin-left: auto;
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 35px;
    }
    p.parame.par2 {
        margin-bottom: 35px;
    }

    p.parame.par3 {
        margin-bottom: 750px;
        z-index: 3;
        margin-top: 20px;
    }
    h2.h2top {
        padding-top: 30px;
    }
    h2.skilltitle {
        padding-top: 25px;
    }
    p.paraskill {
        margin: 0;
        margin-bottom: 40px;
    }
    .cl_1 {
        left: 20;
    }
}

body {
    font-size: 12px;
    color: hsl(0, 95%, 73%); 
    font-family: var(--font-family-base)
    overflow-x: hidden;
    margin: 0px;
}

.navi {
    height: 6rem;
    position: relative;
    background: #212A3E;
}

.navbar {
    display:flex;
    float: right;
    overflow: hidden;
    font-size: 18px;
}

.navlink {
    display: flex;
    margin: 30px;
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
}

.header {
    padding-top: 125px;
    padding-bottom: 70px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background: #212A3E;
}


.header_img {
    max-height: 250px;
    background-color: #E4C0C3;
    border-radius: 100%;
    float: right;
    position: relative;
    z-index: 1;
    top: -60px;
    right: 100px;
  }
  
  @media screen and (max-width: 1300px) {
    .header_img {
      max-height: 210px;
      position: static;
      float: none;
      display: block;
      margin: auto;
    }
  }

a:hover {
    text-decoration: underline;
    text-decoration-color:darkgoldenrod;
    text-decoration-thickness: 3px;
    text-underline-offset: 1px;
}

.nametag {
    text-align: left;
    margin-left: 100px;
  }
  
  @media screen and (max-width: 1300px) {
    .nametag {
      text-align: center;
      margin-left: 0px;
      color: #F9EAE1;
    }
  }

  .left_para {
    text-align: left;
    margin-left: 100px;
    margin-right: 40%;
    color: #F9EAE1;
    font-size: 14px;
    
  }
  
  @media screen and (max-width: 1300px) {
    .left_para {
      margin-right: 100px;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 425px) {
    .left_para {
      margin: 0 25px;
    }
  }

.caption{
    position: relative;
    top: 35%;
    left: 50%;
    font-weight: 100;
    height: fit-content;
    transform: translate(-38%, 0);
    
}

.aboutme {
    height: 100vh;
    width: 100vw;
    background-color: #F9EAE1;
}

.h2top {
    margin-top: 0px;
    padding-top: 120px;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 0.2em;
    color: #212A3E;
    text-decoration-color: #B75952;
    font-size: 33px;
    text-align: center;

}
section {
}

.paramediv {
   
}

.parame {
    text-align: center;
    margin-left: 175px;
    margin-right: 175px;
    font-size: 20px;
    color: #212A3E;
    margin-top: 50px;
}

.skills {
    height: 100vh;
    width: 100vw;
    background-color: #212A3E;
}
.skilltitle {
    margin-top: 0px;
    padding-top: 120px;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 0.2em;
    color: #F9EAE1;
    text-decoration-color: #F9EAE1;
    font-size: 33px;
    text-align: center;
}
.paraskill {
    text-align: center;
    margin-left: 175px;
    margin-right: 175px;
    font-size: 20px;
    color: #F9EAE1;
    margin-top: 50px;

}
.socialmedia {
    height: 43vh;
    width: 100vw;
}

.smtitle {
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.icons {
    margin-left: 450px;
}
.sm_icons {
    width: 80px;
    height: 80px;
    margin: 30px;

}

.pngicon {
    width: 65px;
    height: 65px;
}
