body {
    font-size: 12px;
    color: darksalmon; 
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcyan;
}

.navbar {
    display:flex;
    float: right;
    padding: 20px;
    overflow: hidden;
    font-size: 18px;
}

a {
    display: flex;
    margin: 30px;


}

<!--.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
} -->

.header_img {
    max-height: 250px;
    border-radius: 100%;
    position: relative;
    float: right;
    z-index: 1;
    top: -20px;
    right: 100px;
}

a:hover {
    text-decoration: underline;
    text-decoration-color:darkgoldenrod;
    text-decoration-thickness: 3px;
    text-underline-offset: 1px;
}